<section class="experience">
  <div
    class="shape-right"
    style="
      --height: 200px;
      --width: 200px;
      --right: -90px;
      --top: 300px;
      --opacity: 0.7;
    "
  ></div>
  <div
    class="shape-right"
    data-aos="fade-left"
    data-aos-delay="200"
    data-aos-duration="3000"
    style="
      --height: 300px;
      --width: 300px;
      --right: -250px;
      --top: 670px;
      --opacity: 40%;
    "
  ></div>
  <div
    class="shape-left"
    data-aos="fade-right"
    data-aos-delay="200"
    data-aos-duration="3000"
    style="
      --height: 500px;
      --width: 500px;
      --left: -450px;
      --top: 300px;
      --opacity: 80%;
    "
  ></div>
  <h2 class="section-title">My Experience</h2>
  <div class="container-experience" id="experienceContainer"></div>
</section>

<script>
  fetch("/data/experience.json")
    .then((response) => {
      if (!response.ok) throw new Error("Network response was not ok");
      return response.json();
    })
    .then((data) => {
      const container = document.getElementById("experienceContainer");

      data.forEach((item, index) => {
        const block = document.createElement("div");
        block.className = "timeline-block timeline-block-right";

        block.innerHTML = `
        <div class="marker"></div>
        <div class="timeline-content">
          <h3>${item.job_name}</h3>
          <span>${item.job_duration}</span>
          <p>${item.job_description}</p>
        </div>
      `;

        container.appendChild(block);
      });
    })
    .catch((error) => {
      console.error("Error loading experience data:", error);
    });
</script>
