<section class="crew">
  <div
    class="shape-right"
    data-aos="fade-left"
    style="
      --height: 200px;
      --width: 200px;
      --right: -90px;
      --top: 300px;
      --opacity: 0.7;
    "
    data-aos-duration="2000"
  ></div>
  <div
    class="shape-right"
    data-aos="fade-left"
    data-aos-delay="200"
    data-aos-duration="3000"
    style="
      --height: 300px;
      --width: 300px;
      --right: -250px;
      --top: 670px;
      --opacity: 40%;
    "
  ></div>
  <div
    class="shape-left"
    data-aos="fade-right"
    data-aos-delay="200"
    data-aos-duration="3000"
    style="
      --height: 500px;
      --width: 500px;
      --left: -450px;
      --top: 300px;
      --opacity: 80%;
    "
  ></div>
  <h2 data-aos="fade-right" data-aos-delay="100" class="section-title">
    My Recent Project
  </h2>
  <div class="project-select-group">
    <div
      class="project-select-stack"
      style="--color: #f9d731"
      data-category="web-development"
    >
      <span>Website Development</span>
    </div>
    <div
      class="project-select-stack"
      style="--color: #ffffff"
      data-category="game-development"
    >
      <span>Game Development</span>
    </div>
    <div
      class="project-select-stack"
      style="--color: #ffffff"
      data-category="graphic-design"
    >
      <span>Graphic Design</span>
    </div>
  </div>

  <!-- Web Development -->
  <div class="container-crew-visible" id="web-development">
    <div class="column-crew" style="border-bottom: 4px solid #f9d831">
      <div class="staff-item">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/p2.png?updatedAt=1720813502654"
          alt="Alvito Proyek 1"
        />
        <div class="badge-group">
          <div class="badge-stack">
            <span>Laravel</span>
          </div>
          <div class="badge-stack">
            <span>MySQL</span>
          </div>
          <div class="badge-stack">
            <span>Bootstrap</span>
          </div>
        </div>

        <h3>GAMEKU - Online Games Items E-Commerce With Multi Vendor</h3>
        <p>
          E-commerce application made specifically to facilitate easy and
          comfortable transaction of game items.
        </p>
        <div class="container-button-project">
          <a
            href="https://github.com/AlvitoDian/GAMEKU-Game-E-Commerce"
            target="_blank"
            class="btn-github"
          >
            <i class="fa-brands fa-github"></i>
            <span>Github</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
          <a href="" target="_blank" class="btn-demo disabled-anchor">
            <i class="fa-solid fa-globe"></i>
            <span>Demo</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="column-crew" style="border-bottom: 4px solid #f9d831">
      <div class="staff-item">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/p9.png?updatedAt=1720813504027"
          alt="Alvito Proyek 2"
        />
        <div class="badge-group">
          <div class="badge-stack">
            <span>ReactJS</span>
          </div>
          <div class="badge-stack">
            <span>Laravel</span>
          </div>
          <div class="badge-stack">
            <span>Inertia</span>
          </div>
          <div class="badge-stack">
            <span>Tailwind</span>
          </div>
          <div class="badge-stack">
            <span>TMDB</span>
          </div>
        </div>

        <h3>Clone - iQIYI</h3>
        <p>
          A web-based project that attempts to clone the interface of a
          streaming platform called iQIYI.
        </p>
        <div class="container-button-project">
          <a
            href="https://github.com/AlvitoDian/ReactJS-Clone-iQIYI"
            target="_blank"
            class="btn-github"
          >
            <i class="fa-brands fa-github"></i>
            <span>Github</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
          <a
            href="https://clone-i-kiyi.vercel.app/"
            target="_blank"
            class="btn-demo"
          >
            <i class="fa-solid fa-globe"></i>
            <span>Demo</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="column-crew" style="border-bottom: 4px solid #f9d831">
      <div class="staff-item">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/p3.png?updatedAt=1720813502315"
          alt="Alvito Proyek 3"
        />
        <div class="badge-group">
          <div class="badge-stack">
            <span>Laravel</span>
          </div>
          <div class="badge-stack">
            <span>MySQL</span>
          </div>
          <div class="badge-stack">
            <span>Bootstrap</span>
          </div>
        </div>

        <h3>Dynamic School Web Profile</h3>
        <p>
          Web Profile for interactive schools with admin access rights that
          manage all the news in it.
        </p>
        <div class="container-button-project">
          <a
            href="https://github.com/AlvitoDian/Dynamic-School-Web-Profile"
            target="_blank"
            class="btn-github"
          >
            <i class="fa-brands fa-github"></i>
            <span>Github</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
          <a href="" target="_blank" class="btn-demo disabled-anchor">
            <i class="fa-solid fa-globe"></i>
            <span>Demo</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="column-crew" style="border-bottom: 4px solid #f9d831">
      <div class="staff-item">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/p5.png?updatedAt=1720813502880"
          alt="Alvito Proyek 4"
        />
        <div class="badge-group">
          <div class="badge-stack">
            <span>MongoDB</span>
          </div>
          <div class="badge-stack">
            <span>Express JS</span>
          </div>
          <div class="badge-stack">
            <span>React JS</span>
          </div>
          <div class="badge-stack">
            <span>Node JS</span>
          </div>
          <div class="badge-stack">
            <span>Tailwind</span>
          </div>
        </div>

        <h3>Discuss Nest - Semi Social Media Forum Discussion</h3>
        <p>
          Discuss Nest is a small project that I developed using MERN Stack.
          Discuss Nest is a discussion forum platform that has semi-social media
          features.
        </p>
        <div class="container-button-project">
          <a
            href="https://github.com/AlvitoDian/MERN-Discuss-Nest"
            target="_blank"
            class="btn-github"
          >
            <i class="fa-brands fa-github"></i>
            <span>Github</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
          <a href="" target="_blank" class="btn-demo disabled-anchor">
            <i class="fa-solid fa-globe"></i>
            <span>Demo</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="column-crew" style="border-bottom: 4px solid #f9d831">
      <div class="staff-item">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/p6.png?updatedAt=1720813503008"
          alt="Alvito Proyek 5"
        />
        <div class="badge-group">
          <div class="badge-stack">
            <span>Node JS</span>
          </div>
          <div class="badge-stack">
            <span>Google Drive API</span>
          </div>
        </div>

        <h3>Temporary File Sharing</h3>
        <p>
          A platform for uploading files and generating them into qr codes so
          they can be downloaded.
        </p>
        <div class="container-button-project">
          <a
            href="https://github.com/AlvitoDian/Node-File-Sharing-Api-GDrive"
            target="_blank"
            class="btn-github"
          >
            <i class="fa-brands fa-github"></i>
            <span>Github</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
          <a
            href="https://node-file-sharing-api-g-drive.vercel.app/"
            target="_blank"
            class="btn-demo"
          >
            <i class="fa-solid fa-globe"></i>
            <span>Demo</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="column-crew" style="border-bottom: 4px solid #f9d831">
      <div class="staff-item">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/p10.png?updatedAt=1720813504346"
          alt="Alvito Proyek 10"
        />
        <div class="badge-group">
          <div class="badge-stack">
            <span>NextJS</span>
          </div>
          <div class="badge-stack">
            <span>Tailwind</span>
          </div>
          <div class="badge-stack">
            <span>MongoDB</span>
          </div>
          <div class="badge-stack">
            <span>Socketio</span>
          </div>
          <div class="badge-stack">
            <span>Cloudinary</span>
          </div>
        </div>

        <h3>Nimbrunk - Chatting Web Bassed</h3>
        <p>Web-based chat application.</p>
        <div class="container-button-project">
          <a
            href="https://github.com/AlvitoDian/NextJS-Chat-Room-App"
            target="_blank"
            class="btn-github"
          >
            <i class="fa-brands fa-github"></i>
            <span>Github</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
          <a
            href="https://nimbrunk.veiy.my.id"
            target="_blank"
            class="btn-demo"
          >
            <i class="fa-solid fa-globe"></i>
            <span>Demo</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="column-crew" style="border-bottom: 4px solid #f9d831">
      <div class="staff-item">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/p8.png?updatedAt=1720813503408"
          alt="Alvito Proyek 6"
        />
        <div class="badge-group">
          <div class="badge-stack">
            <span>Laravel</span>
          </div>
          <div class="badge-stack">
            <span>Bootstrap</span>
          </div>
          <div class="badge-stack">
            <span>MySQL</span>
          </div>
        </div>

        <h3>Pendopo Kuliner - POS Web Bassed</h3>
        <p>
          This application is a web-based point of sale application for a fake
          restaurant called Pendopo Kuliner.
        </p>
        <div class="container-button-project">
          <a
            href="https://github.com/AlvitoDian/Laravel-Pendopo-Kuliner"
            target="_blank"
            class="btn-github"
          >
            <i class="fa-brands fa-github"></i>
            <span>Github</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
          <a href="" target="_blank" class="btn-demo disabled-anchor">
            <i class="fa-solid fa-globe"></i>
            <span>Demo</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="column-crew" style="border-bottom: 4px solid #f9d831">
      <div class="staff-item">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/p1.png?updatedAt=1720813501155"
          alt="Alvito Proyek 7"
        />
        <div class="badge-group">
          <div class="badge-stack">
            <span>Javascript</span>
          </div>
          <div class="badge-stack">
            <span>CSS</span>
          </div>
          <div class="badge-stack">
            <span>Flask</span>
          </div>
        </div>

        <h3>Web Bassed Image Classification</h3>
        <p>
          A web-based application for ready-made image classification that only
          configures the model.
        </p>

        <div class="container-button-project">
          <a
            href="https://github.com/AlvitoDian/Python-Flask-Website-Image-Classificatio"
            target="_blank"
            class="btn-github"
          >
            <i class="fa-brands fa-github"></i>
            <span>Github</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
          <a href="" target="_blank" class="btn-demo disabled-anchor">
            <i class="fa-solid fa-globe"></i>
            <span>Demo</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="column-crew" style="border-bottom: 4px solid #f9d831">
      <div class="staff-item">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/p11.png?updatedAt=1720813504072"
          alt="Alvito Proyek 8"
        />
        <div class="badge-group">
          <div class="badge-stack">
            <span>NextJS</span>
          </div>
          <div class="badge-stack">
            <span>Tailwind</span>
          </div>
          <div class="badge-stack">
            <span>Google Gemini</span>
          </div>
        </div>

        <h3>Clone - ChatGPT</h3>
        <p>
          A web-based project that attempts to clone the interface of an ai chat
          platform called ChatGPT but uses APIs from Google Gemini.
        </p>

        <div class="container-button-project">
          <a
            href="https://github.com/AlvitoDian/NextJS-Clone-ChatGPT"
            target="_blank"
            class="btn-github"
          >
            <i class="fa-brands fa-github"></i>
            <span>Github</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
          <a
            href="https://clone-cht-gpt.vercel.app/"
            target="_blank"
            class="btn-demo"
          >
            <i class="fa-solid fa-globe"></i>
            <span>Demo</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Web Development End -->

  <!-- Game Development -->
  <div class="container-crew" id="game-development">
    <div class="column-crew" style="border-bottom: 4px solid #f9d831">
      <div class="staff-item">
        <img src="assets\image\p7.png" alt="Alvito Proyek 8" />
        <div class="badge-group">
          <div class="badge-stack">
            <span>Unity</span>
          </div>
          <div class="badge-stack">
            <span>C#</span>
          </div>
        </div>
        <a href="">
          <h3>Tales of Sarip Tambak Oso</h3>
          <p>
            Tales of Sarip Tambak Oso merupakan game yang saya kembangkan untuk
            keperluan Tugas Akhir S1 Informatika. Game Tales of Sarip Tambak Oso
            mengusung genre gabungan antara Visual Novel dan Action.
          </p>
          <div class="container-button-project">
            <a
              href="https://alvitodian.itch.io/tales-of-sarip-tambak-oso"
              target="_blank"
              class="btn-itchio"
            >
              <i class="fa-brands fa-itch-io" style="color: #ffffff"></i>
              <span style="padding-left: 7px">itch.io</span>
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
            <a href="" target="_blank" class="btn-demo disabled-anchor">
              <i class="fa-solid fa-globe"></i>
              <span>Demo</span>
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- Game Development End -->

  <!-- Graphic Design -->
  <div class="container-crew" id="graphic-design">
    <div>
      <div class="gdesign-img" style="--shadow: #85dd5f">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/g1.png?updatedAt=1720813495557"
          alt="Alvito Proyek 9"
        />
      </div>
    </div>
    <div>
      <div class="gdesign-img" style="--shadow: #3759b0">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/g2.png?updatedAt=1720813496414"
          alt="Alvito Proyek 10"
        />
      </div>
    </div>
    <div>
      <div class="gdesign-img" style="--shadow: #7c208a">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/g3.png?updatedAt=1720813496487"
          alt="Alvito Proyek 10"
        />
      </div>
    </div>
    <div>
      <div class="gdesign-img" style="--shadow: #db0a6e">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/g4.png?updatedAt=1720813496868"
          alt="Alvito Proyek 11"
        />
      </div>
    </div>
    <div>
      <div class="gdesign-img" style="--shadow: #15d0b4">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/g5.png?updatedAt=1720813497616"
          alt="Alvito Proyek 12"
        />
      </div>
    </div>
    <div>
      <div class="gdesign-img" style="--shadow: #34216d">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/g6.png?updatedAt=1720813499242"
          alt="Alvito Proyek 13"
        />
      </div>
    </div>
    <div>
      <div class="gdesign-img" style="--shadow: #fed23c">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/g7.png?updatedAt=1720813499136"
          alt="Alvito Proyek 14"
        />
      </div>
    </div>
    <div>
      <div class="gdesign-img" style="--shadow: #353535">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/g8.png?updatedAt=1720813499648"
          alt="Alvito Proyek 15"
        />
      </div>
    </div>
    <div>
      <div class="gdesign-img" style="--shadow: #f666aa">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/g9.png?updatedAt=1720813500398"
          alt="Alvito Proyek 16"
        />
      </div>
    </div>
    <div>
      <div class="gdesign-img" style="--shadow: #180e38">
        <img
          src="https://ik.imagekit.io/e1hsy3eecu/g10.png?updatedAt=1720813500790"
          alt="Alvito Proyek 17"
        />
      </div>
    </div>
  </div>
  <!-- Graphic Design End -->
</section>

<script>
  // Category Project Selection Handler
  const projectStacks = document.querySelectorAll(".project-select-stack");

  function updateProjects(categoryId) {
    const projects = [
      document.getElementById("web-development"),
      document.getElementById("game-development"),
      document.getElementById("graphic-design"),
    ];

    projects.forEach(function (project) {
      project.classList.remove("container-crew", "container-crew-visible");

      const selected = project.id === categoryId;

      if (selected) {
        project.classList.add("container-crew-visible");
      }

      if (!selected) {
        project.classList.add("container-crew");
      }
    });
  }

  projectStacks.forEach((stack) => {
    stack.addEventListener("click", function () {
      projectStacks.forEach((s) => {
        s.style.backgroundColor = "transparent";
        const span = s.querySelector("span");
        if (span) {
          span.style.color = "#fbbf24";
        }
      });

      const categoryId = stack.getAttribute("data-category");

      updateProjects(categoryId);

      stack.style.backgroundColor = "#f9d731";
      const span = stack.querySelector("span");
      if (span) {
        span.style.color = "black";
      }
    });
  });

  updateProjects("web-development");

  const defaultStack = document.querySelector(
    '[data-category="web-development"]'
  );
  if (defaultStack) {
    defaultStack.style.backgroundColor = "#f9d731";
    const span = defaultStack.querySelector("span");
    if (span) {
      span.style.color = "black";
    }
  }
</script>
